name: Build
on:
  push:
    branches:
      - master
      - main
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ main ]

env:
  CI: true

jobs:
  master-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Install dependencies
        run: yarn

      - name: Build Packages
        run: yarn build
        env:
          NODE_ENV: 'production'
